/**
 * admin style <parsijoo map>
 *
 * @author NasimNet Dev.
 * @see https://nasimnet.ir
 */
* {
     box-sizing: border-box;
}
.postbox {
    margin: 20px;
}
.postbox .hndle {
    padding:0 10px 10px
}
.main, p {
    font: 13px Tahoma;
    color: #666;
}
#parsijoo_api_map {
    direction: ltr;
	padding: 8px;
}
.description {
	font: 12px tahoma;
	color: #777;
    margin-top:10px
}
label {
	font-weight: bold;
}
.margin-20 {
    margin: 20px 0;
}
.parametrs {
	background-color: #f8f8f8;
	border: 1px solid #eee;
}
.parametrs li {
	border-bottom: 1px solid #eee;
	padding: 10px;
	margin: 0;
}
.danger {
	background-color: #fcdbdb;
	padding: 10px;
	color: #b31d1d;
	margin-bottom: 0;
	border-radius: 3px;
}
.help-map {
	background-color: #eee;
	padding: 10px;
	font-style: normal;
}
.nasimnet-map-icon {
	vertical-align: middle;
}
#create-shortcode .inside {
	margin-bottom: 0;
	padding-bottom: 0;
}
#leaflet {
    height: 450px
}
.map-details {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.map-details > div {
    flex-grow: 1;
    width: 33%;
    padding: 10px
}
.nasimnet-shortcode {
	padding: 15px;
	background-color: #0f6993;
	margin: 0 -12px;
}
.nasimnet-shortcode p {
	color: #fff;
}
#parsijoo-shortcode {
    direction: ltr;
	width: 100%;
	padding: 9px;
}
.row-example{
	display: flex;
    flex-wrap: wrap;
}
.row-example .column {
    flex: 33%;
    padding: 10px;
}
.input-example {
	width: 100%;
	padding: 10px;
	direction: ltr;
	text-align: left;
}
.copyright {
	border-top: 1px solid #eee;
	padding: 10px;
	background-color: #777;
	margin: -21px 20px;
}
.copyright p {
	color: #fff;
	margin: 0;
}
.copyright a {
	color: #ccc;
	text-decoration: none;
	font-weight: bold;
}
